/* Variables */
:root {
  --lambda-red: #bb1333;
  --lambda-blue: #0c3c78;
  --lambda-lightblue: #3ab5e5;
  --lambda-grey: #55596d;
}

html, body {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: white;
  color: black;
  font: 1.5em "Lato", Helvetica, sans-serif;
}

a {
  color: var(--lambda-blue);
  text-decoration: none;
}

a:hover {
  color: var(--lambda-lightblue);
}

h1, h2, h3 {
  margin: 0;
}

#masthead {
  background: var(--lambda-red);
  color: white;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-left: 25px;
  width: 160px;
  height: 80px;
}

#masthead a {
  color: #ddd;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 20px;
}

#masthead a:hover {
  color: white;
  transition: color .4s ease;
}

#masthead a.cta {
  background: white;
  color: var(--lambda-grey);
  border-radius: 4px;
  padding: 12px 24px;
}

#hero {
  background: url("https://picsum.photos/2048/300/?blur&random=1");
  color: white;
  text-align: center;
  height: 300px;

  /* Center content horizontally and vertically */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

#hero h1, #hero h3 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#hero h1 {
  font-size: 5rem;
  padding-bottom: 20px;
}

#hero h3 {
  font-size: 2.5rem;
}

#content {
  width: 960px;
  margin: 0 auto;
}

#content p, .solutions .copy {
  line-height: 1.4;
  text-align: justify;
}

#footer {
  background: #eee;
  color: #aaa;
  padding: 10px;
}

#footer p {
  font-size: 1.25rem;
  text-align: center;

}

.solutions {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.solutions .copy {
  align-self: center;
  margin: 20px;
}
