/* Variables */
:root {
  --lambda-red: #bb1333;
  --lambda-blue: #0c3c78;
  --lambda-lightblue: #3ab5e5;
  --lambda-grey: #55596d;
}

html, body {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: white;
  color: black;
  font: 1.5em "Lato", Helvetica, sans-serif;
}

a {
  color: var(--lambda-blue);
  text-decoration: none;
}

a:hover {
  color: var(--lambda-lightblue);
}

#masthead {
  background: var(--lambda-red);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin: 0;
  width: 200px;
  height: 70px;
}

#masthead a {
  color: #ddd;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 20px;
}

#masthead a:hover {
  color: #eee;
  transition: color .5s ease;
}

#content {
  width: 800px;
  margin: 0 auto;
}

#content p {
  line-height: 1.4;
  text-align: justify;
}

#footer {
  color: #ccc;
  font-size: 1.25rem;
  text-align: center;
}
