html, body {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: white;
  color: black;
  font: 1.5em "Lato", Helvetica, sans-serif;
}

a {
  color: #0c3c78;
  text-decoration: none;
}

a:hover {
  color: #3ab5e5;
}

#masthead {
  background: #bb1333;
  color: white;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#masthead h1 {
  margin: 0;
}

#masthead a {
  color: #ddd;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 20px;
}

#masthead a:hover {
  color: #eee;
  transition: color .5s ease;
}

#content {
  width: 800px;
  margin: 0 auto;
}

#footer {
  color: #ccc;
  font-size: 1.25rem;
  text-align: center;
}
