/* Variables */
:root {
  --lambda-red: #bb1333;
  --lambda-blue: #0c3c78;
  --lambda-lightblue: #3ab5e5;
  --lambda-grey: #55596d;
}

html, body {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: white;
  color: black;
  font: 1.5em "Lato", Helvetica, sans-serif;
}

a {
  color: var(--lambda-blue);
  text-decoration: none;
}

a:hover {
  color: var(--lambda-lightblue);
}

h1, h2, h3 {
  margin: 0;
}

#masthead {
  background: var(--lambda-red);
  color: white;
  padding: 10px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#logo {
  width: 160px;
  height: 80px;
}

#masthead a {
  color: #ddd;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 20px;
}

#masthead a:hover {
  color: white;
  transition: color .4s ease;
}

#masthead a.cta {
  background: white;
  color: var(--lambda-grey);
  border-radius: 4px;
  padding: 12px 16px;
  margin-right: 0;
}

.hero {
  background: url("https://picsum.photos/2048/400/?blur&grayscale&random=1");
  color: white;
  text-align: center;
  height: 400px;

  /* Center content horizontally and vertically */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

.hero.second {
  background-image: url("https://picsum.photos/2048/400/?blur&grayscale&random=2")
}

.hero h1, .hero h3 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 5rem;
  padding-bottom: 20px;
}

.hero h3 {
  font-size: 2.5rem;
}

.content {
  width: 960px;
  margin: 30px auto;
}

.content p {
  line-height: 1.6;
  padding: 10px 0;
}

.solutions {
  display: flex;
  justify-content: space-between;
}

.solutions .copy {
  margin: 15px;
}

.solutions .copy.flip {
  align-self: center;
}

.tab-links {
  margin-bottom: 15px;
  text-align: center;
}

.tab-links a {
  color: var(--lambda-grey);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-right: 25px;
}

.tab-links a:last-child {
  margin: 0;
}

.tab-links .link-selected {
  color: var(--lambda-red);
}

.tab {
  display: none;
}

.tab.item-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.tab p {
  font-size: 2rem;
  margin-left: 30px;
}

#footer {
  background: #eee;
  color: #aaa;
  padding: 10px;
}

#footer p {
  font-size: 1.25rem;
  text-align: center;
}

/* Modal */
.modal {
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 1;

  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header, .modal-content {
  padding: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  font-size: 1rem;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 4px;
  text-align: center;
  line-height: 15px;
}

.close-button:hover {
  background: #333;
  color: white;
  cursor: pointer;
}

.modal-content {
  background: #fefefe;
  border: 1px solid #888;
  border-radius: 10px;

  margin: 5px auto;
  width: 400px;

  -webkit-animation: animate-zoom 0.6s;
  animation: animate-zoom 0.6s
}

.form-container {
  width: 200px;
  padding: 10px;
  margin: 0 auto;
}

.form-container p {
  text-align: center;
}

.form-container input {
  font-size: 1.8rem;
  padding: 4px;
  margin-bottom: 10px;
}

.form-container .hidden {
  display: none;
}

@-webkit-keyframes animate-zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animate-zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Responsive Breakpoints */

/* Tablet */
@media only screen and (max-width: 768px) {
  #content {
    width: 750px;
    padding: 20px;
  }

  .hero {
    margin: 0;
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  /* Make masthead static on mobile */
  #masthead {
    position: static;
  }

  #masthead nav {
    margin: 10px 0;
  }

  #masthead a {
    text-align: center;
    padding: 10px;
  }

  #logo {
    margin: 0;
  }

  .content {
    width: 80%;
  }

  /* Make flexbox elements more presentable on mobile */
  #masthead, .solutions, .tab {
    flex-flow: column wrap;
  }

  .solutions.flip {
    flex-direction: column-reverse;
  }

  .tab-links a {
    display: block;
    margin: 0;
    padding-bottom: 20px;
  }

  .modal-content {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  #masthead a {
    margin-right: 10px;
  }

  /* Get rid of left and right margins on mobile */
  .solutions .copy {
    margin: 15px 0;
  }
}

@media only screen and (max-width: 360px) {
  #masthead a {
    display: block;
    margin-right: 0;
  }
}
